<?xml version='1.0' encoding='utf-8'?>
<widget id="com.checklist.its" version="1.0.0" xmlns="http://apache.org" xmlns:cdv="http://apache.org/wp">
    <name>CheklistITS</name>
    <description>Приложение для съемки узлов и агрегатов АСУ</description>
    <author email="support@its.com" href="http://its.com">ITS Сервис</author>
    
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <!-- Включаем локальный сервер внутри приложения, чтобы обойти блокировки Android WebView -->
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="MixedContentMode" value="0" />
    <preference name="KeepRunning" value="true" />
    
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>
